<h1>Root Homepage</h1>
<!-- <a href="/signup">Signup</a>
<br>
<a href="/register">Register Restaurant</a> -->
<a href="/charges/new">Test Credit Card: You must start the server with the following commands to test the credit card:
PUBLISHABLE_KEY=pk_test_6pRNASCoBOKtIshFeQd4XMUh
SECRET_KEY=sk_test_BQokikJOvBiI2HlWgH4olfQ2
rails s</a>
