<!-- RIGHT SIDE OF THE DASHBOARD -->
<div class="row">

  <div class="col s3">
    <table class="bordered centered">
      <thead>
      <tr>
          <th>Table 1</th>
      </tr>
    </thead>
      <tbody>
        <tr><td><i class="material-icons left">people</i>2 pax</td></tr>
        <tr><td><i class="material-icons left">access_time</i>1:00pm</td></tr>
        <tr><td><i class="material-icons left">local_atm</i>$30.20</td></tr>
      </tbody>
    </table>
    </div>

    <div class="col s3">
      <table class="bordered centered">
        <thead>
        <tr>
            <th>Table 2</th>
        </tr>
      </thead>
        <tbody>
          <tr><td><i class="material-icons left">people</i>5 pax</td></tr>
          <tr><td><i class="material-icons left">access_time</i>2:30pm</td></tr>
          <tr><td><i class="material-icons left">local_atm</i>$27.60</td></tr>
        </tbody>
      </table>
      </div>

      <div class="col s3">
        <table class="bordered centered">
          <thead>
          <tr>
              <th>Table 3</th>
          </tr>
        </thead>
          <tbody>
            <tr><td><i class="material-icons left">people</i>4 pax</td></tr>
            <tr><td><i class="material-icons left">access_time</i>5:00pm</td></tr>
            <tr><td><i class="material-icons left">local_atm</i>$19.90</td></tr>
          </tbody>
        </table>
        </div>

        <div class="col s3">
          <table class="bordered centered">
            <thead>
            <tr>
                <th>Table 4</th>
            </tr>
          </thead>
            <tbody>
              <tr><td>
                <img src="http://simpleicon.com/wp-content/uploads/table.png" height="126" width="126">
              </td></tr>
            </tbody>
          </table>
        </div>

          <!-- ===== SECOND ROW ===== -->

          <div class="col s3">
            <table class="bordered centered">
              <thead>
              <tr>
                  <th>Table 5</th>
              </tr>
            </thead>
              <tbody>
                <tr><td><i class="material-icons left">people</i>2 pax</td></tr>
                <tr><td><i class="material-icons left">access_time</i>1:00pm</td></tr>
                <tr><td><i class="material-icons left">local_atm</i>$30.20</td></tr>
              </tbody>
            </table>
            </div>

            <div class="col s3">
              <table class="bordered centered">
                <thead>
                <tr>
                    <th>Table 6</th>
                </tr>
              </thead>
                <tbody>
                  <tr><td><i class="material-icons left">people</i>5 pax</td></tr>
                  <tr><td><i class="material-icons left">access_time</i>2:30pm</td></tr>
                  <tr><td><i class="material-icons left">local_atm</i>$27.60</td></tr>
                </tbody>
              </table>
              </div>

              <div class="col s3">
                <table class="bordered centered">
                  <thead>
                  <tr>
                      <th>Table 7</th>
                  </tr>
                </thead>
                <tbody>
                  <tr><td>
                    <img src="http://simpleicon.com/wp-content/uploads/table.png" height="126" width="126">
                  </td></tr>
                </tbody>
                </table>
                </div>

                <div class="col s3">
                  <table class="bordered centered">
                    <thead>
                    <tr>
                        <th>Table 8</th>
                    </tr>
                  </thead>
                    <tbody>
                      <tr><td>
                        <img src="http://simpleicon.com/wp-content/uploads/table.png" height="126" width="126">
                      </td></tr>
                    </tbody>
                  </table>
                </div>

      <!-- ===== THIRD ROW ===== -->


</div>

</div>
