<div class="container">
<h1>New Menu Item</h1>
<%= link_to "Back to Restaurant", restaurant_path(@restaurant) %>
<br/>
<%= render "/menu_items/form", menu_item: @menu_item, url: restaurant_menu_items_path %>
</div>
