<!-- dropdown menu -->
<ul id="dropdown1" class="dropdown-content">
  <li style="text-align:center; font-size:20px;"><b><span style="vertical-align: bottom;">Kitchen</span></b></li>
  <li><a href="#!">See All Orders</a></li>
  <li><a href="#!">Tickets Management</a></li>
  <li class="divider"></li>
  <li style="text-align:center; font-size:20px;"><b>Front of House</b></li>
  <li><a href="#!">See All Orders</a></li>
  <li><a href="#!">Table Management</a></li>
  <li><a href="#!">Ordering Menu</a></li>
  <li><a href="#!">Print Receipt</a></li>
  <li><a href="#!">Pay</a></li>
</ul>

<ul id="dropdown2" class="dropdown-content">
  <li><a href="#!">Account Settings</a></li>
  <li><a href="#!">Restaurant Settings</a></li>
  <li><a href="#!">Payment Settings</a></li>
  <li><a href="#!">Notification Settings</a></li>
  <li><a href="#!">Menu Settings</a></li>
  <li><a href="#!">Reviews and Feedback</a></li>
  <li class="divider"></li>
  <li><a href="#!">Logout</a></li>
</ul>

<!-- nav bar itself -->
<nav>
  <div class="nav-wrapper">
    <!-- left side (logo and dropdown) -->
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><img src="http://i.imgur.com/VMuQpkL.png" height="45" width="45" style="vertical-align:middle; margin-left:15px"></li>
      <li><a class ="dropdown-button" data-beloworigin="true" data-constrainWidth="false" href="#!" data-activates="dropdown1" style="border-right:thick;">Menu<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>

    <!-- right side of nav -->
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if user_signed_in? %>
    <% if current_user[:restaurant_id]  %>
    <li>
      <%= link_to 'Dashboard', dashboard_path, :class => 'navbar-link' %>
    </li>
      <% end %>
    <% end %>
      <li><a class ="dropdown-button" data-beloworigin="true" href="#!" data-constrainWidth="false" data-activates="dropdown2">Account<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>
