<h1>Account</h1>
<span>Name: <%= @user.name%></span>
<br>
<span>Email: <%= @user.email%></span>
<br>
<a href="account/edit">Edit User</a>
<!-- <br>
<a href="account/credit_cards">Credit Cards</a> -->
