<nav class="nav">
  <div class="nav-left">
    <a class="nav-item">
      Locavorus
    </a>
  </div>

  <div class="nav-center">
    <% if !@is_main%>
    <div class="field is-grouped">
      <p class="control">
        <input type="text" name="Search" value="" placeholder="Search">
      </p>
      <p class="control">
      <input type="text" name="Location" value="" placeholder="Location">
      </p>
      <p class="control">
      <a href="#">Search</a>
      <!-- <span class="nav-item icon">
      <i class="fa fa-search" aria-hidden="true"></i>
      </span> -->
      </p>
      <% end %>
    </div>
  </div>

  <div class="nav-right nav-menu">
    <a class="nav-item is-tab">
      Profile
    </a>
    <a class="nav-item">
      Signup
    </a>
    <a class="nav-item">
      Login
    </a>
    <a class="nav-item">
      Logout
    </a>
  </div>

</nav>
