<h1>All Reservations</h1>
<% @reservations.each do |reservation| %>

<div>
  <p>Name: <%= reservation.name %> </p>
  <p>Contact: <%= reservation.phone %></p>
  <p>No. of pax: <%= reservation.party_size %> </p>
  <p>Date and time: <%= reservation.date_time %> </p>
</div><br>
<% end %>
