<h1>All Reservations</h1>
<% @reservations.each do |reservation| %>

<div>
  <p>Username: <%= reservation.user_name %> </p>
  <p>No. of pax: <%= reservation.party_size %> </p>
  <p>Date and time: <%= reservation.date_time %> </p>
</div>
<% end %>
