<h1>Showing Table</h1>
<%= link_to "Back to Restaurant", restaurant_path(@restaurant) %>
<br/>

<p>
  Name:
  <%= @table.name %>
</p>
<p>
  Current Capacity:
  <%= @table.capacity_current %>
</p>
<p>
  Total Capacity:
  <%= @table.capacity_total %>
</p>
