// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  margin-top: 10px;
  font-size: 40px;
}
h2 {
  font-size: 25px;
}

#add-reservation {
  margin-top: 10px;
  margin-right: 0;
  // margin-left: 220px;
  position: absolute;
}

#left-side {
  border-right: 5px solid black;
  vertical-align: middle;
}

#buttons-1 {
  display: inline-block;
  width: 600px
}

.page-footer {
  background: none;
}

#see-schedule {
  margin-top: 10px;
  margin-left: 200px;
}

#right-butan {
  width: 250px;
}

// #dash-container {
//   width: 70%;
//   margin: 0 auto;
// }

#right-side {
  width: 750px;
  margin: 0 auto;
}
