// Place all the styles related to the menu_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  width: 1600px;
  margin: 0 auto;
}
#menu-middle {
  border-left: 5px solid black;
  border-right: 5px solid black;
  height: 100%
}
#menu-card {
  max-width: 300px;
  height: 100%;
  position:absolute;
}
