// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-size: 70px;
  font-family: "Unica One"
}
h2 {
  font-size: 40px;
  font-family: "Unica One"
}
.container {
  margin-left: 40px;
  width: 1856px;
}
#restaurant-cards {
  width:1600px;
  margin:0 auto;

}
.card {
  height: 490px;
  max-width: 500px;
  margin-top: 60px;
  border-radius: 5px;
  vertical-align: middle;
  position: relative;
}
#restaurant-title {
  color: white;
  font-family: "Squada One";
  font-size: 30px;
}
#description-box {
  border: 1px solid;
  border-radius: 5px;
  padding: 7px;
}
#search-bar {
  position:absolute;
  top: 60px;
  right:0;
}
