// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#restaurant-cards {
  margin-left: 70px;
  margin-right: 40px
}
.card {
  height: 500px;
  width: 500px;
  margin-top: 60px;
  border-radius: 5px;
}
