<div class="row col-md-8 col-md-offset-2" id="transaction-title">
  <h1>transactions</h1>
</div>

  </div>
    <ul id="transaction-index">
  <% if @transactions.any? %>
      <%= render @transactions%>
  <%else %>
    </ul>
    <p>Be the first one to make a transaction!</p>
  <% end %>
</div>
