<div class="row col-md-8 col-md-offset-2">

  <h1>Create a transaction on a programming topic</h1>
    <div class="well">
      <div class="transaction-form">
        <%= form_for @transaction do |f| %>
          <div class="input-group">
            <span class="input-group-addon">topic:</span>
            <%= f.text_field :restaurant_id, class: "form-control"%>
          </div>
          <%= f.submit class: "btn btn-primary", id: "create-transaction" %>
        <% end %>
      </div>
    </div>
</div>
