<div class="row col-md-8 col-md-offset-2">
  <h1><%= @transaction.id %></h1>

<div class="panel panel-default">
  <% if @transaction.orders.any? %>
    <div class="panel-body" id="messages" data-transaction=<%=@transaction.id%>>
      <%= render partial: 'messages/message', collection: @transaction.messages%>
    </div>
  <%else%>
    <div class="panel-body hidden" id="messages">
    </div>
  <%end%>
</div>


  <%= render partial: 'messages/message_form', locals: {message: @message, transaction: @transaction}%>
</div>
