<!DOCTYPE html>
<html>
  <head>
    <title>WdiProject3ThereIsNoI</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <a href="/">Home Page</a>
    <a href="/charges/new">Test Credit Card</a><p>
You must start the server with the following commands to test the credit card:
PUBLISHABLE_KEY=pk_test_6pRNASCoBOKtIshFeQd4XMUh
SECRET_KEY=sk_test_BQokikJOvBiI2HlWgH4olfQ2
rails s
    </p>
    <%= yield %>
  </body>
</html>
