<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Stripe Integration - Credit Cards</title>
  </head>
  <body>
    <a href="/">Home Page</a>
    <a href="/charges/new">Test Credit Card</a>
    <%= yield %>
  </body>
</html>
